<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/"/>
  <link rel="preload" href="/css/BravuraText.woff2" as="font" type="font/woff2" crossorigin="anonymous" asp-append-version="true">
  <link rel="stylesheet" href="/css/styles.css" id="theme-stylesheet" asp-append-version="true"/>
  <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="/css/fretboard.css" asp-append-version="true" id="fretboard-stylesheet"/>
  <link rel="stylesheet" href="FretBadger.styles.css"/>
  <link rel="icon" type="image/png" href="favicon.png"/>
  <script>
  const theme = localStorage.getItem('theme');
  const html = document.querySelector('html');
  if (html) {
    if (theme === 'dark') {
      html.setAttribute('data-bs-theme', 'dark');
    } else if (theme === 'light') {
      html.setAttribute('data-bs-theme', 'light');
    }
  }
  </script>
  <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="_framework/blazor.web.js"></script>
</body>

</html>